ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00C9EB;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

<<<<<<< HEAD
li a:hover {
    background-color: #007B8B;
}
=======
li a:hover:not(.active) {
    background-color: #007B8B;
}

.active {
  background-color: #00C9EB;
}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
>>>>>>> parent of 2441653... testingwew
