body {
  background-image: url("../pictures/background/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  text-align: center;
}

#holder {
	width: 1012px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 11px;
	margin-bottom: 21px;
  background-color: #EBE8E8;
  border-radius: 10px;
}

.il {
transition-duration: 0.5s;
-webkit-transition-duration: 0.5s;
cursor: pointer;
display: inline-block;
font-family: "Lucida Console", monospace;
font-size: 15px;
}

ul {
    margin-left: auto;
    margin-right: auto;
    width: 1012px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #2C2F33;
    border-radius: 10px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #007B8B;
}

.active {
  background-color: #00C9EB;
}

#footer {
  width: 1012px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  margin-bottom: 21px;
  background-color: #EBE8E8;
  border-radius: 10px;
}
